<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patrick.dbcopy.mapper.StudentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.patrick.dbcopy.bean.Students">
        <id column="student_id" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="student_class" property="studentClass" />
        <result column="student_gender" property="studentGender" />
        <result column="student_major" property="studentMajor" />
        <result column="student_birthday" property="studentBirthday" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        student_id, student_name, student_class, student_gender, student_major, student_birthday
    </sql>

</mapper>
